<div style="background-image: 
url('https://as2.ftcdn.net/v2/jpg/01/19/11/55/1000_F_119115529_mEnw3lGpLdlDkfLgRcVSbFRuVl6sMDty.jpg');">
 
 <div style="text-align: center;  margin-left: 390px; margin-right: 390px; background-color: aqua;">
    <h2 style="text-align: center; background-color:blue; color:white;" >SING-UP</h2>
<form class="row gy-1 gx-1 align-items-right">
    
    <div class="row g-2">
        <label for="inputfirstname" style="color: black;"
         class="col-sm-5 col-form-label">First Name</label>
        <div class="col-md-6">
          <input  name="firstName" 
          type="firstName" class="form-control" id="firstName" >
        </div>
      </div>
      <div class="row g-2">
        <label for="inputlastname" style="color: black;"
         class="col-sm-5 col-form-label">Last Name</label>
        <div class="col-md-6">
          <input  name="lastName" 
          type="lastName" class="form-control" id="lastName" >
        </div>
      </div>
      <fieldset class="row g-2">
        <legend class="col-form-label col-sm-7 pt-0" >Role</legend>
        <div class="col-sm-3">
          <div class="form-check">
            <input   name="roles"  class="form-check-input" type="radio" 
            name="roles" 
            id="gridRadios1" value="true" checked>
            <label class="form-check-label" for="gridRadios1">
                Reader
            </label>
          </div>
          <div class="form-check">
            <input    class="form-check-input" 
            type="radio" name="roles" name="roles" id="gridRadios2" 
            value="false">
            <label class="form-check-label" for="gridRadios2">
                Author
            </label>
          </div>
        </div>
      </fieldset>
      <div class="row g-2">
        <label for="inputemail" style="color: black;"
         class="col-sm-5 col-form-label">Email address</label>
        <div class="col-md-6">
          <input  name="emailId" 
          type="emailId" class="form-control" id="emailId" >
        </div>
      </div>
      <div class="row g-2">
        <label for="inputpassword" style="color: black;"
         class="col-sm-5 col-form-label">Password</label>
        <div class="col-md-6">
          <input  name="password" 
          type="password" class="form-control" id="password" >
        </div>
      </div>
      <div class="row g-2">
        <label for="inputpasswordconfirm" style="color: black;"
         class="col-sm-5 col-form-label">Password Confirm</label>
        <div class="col-md-6">
          <input  name="passwordConfirm" 
          type="passwordConfirm" class="form-control" id="passwordConfirm" >
        </div>
      </div>
      <div class="col-auto"  style="margin-top: 5%; margin-bottom: 4px; margin-left: 200px;">
        <button  type="submit" class="btn btn-primary">Submit</button>
      </div>
  </form>
  </div>
