<div class="row g-0 bg-light position-relative">
    <div class="col-md-6 mb-md-0 p-md">
        <img style="height: 420px; width: 1242px; margin-left: px; margin-right: px;" 
        src="https://programminglibrarian.org/sites/default/files/nlw21-fb-cover-cropped.png" class="w-100" alt="...">
    </div>
    <div class="col-md-6 p-4 ps-md-0" style="background-image:
    url('https://images.pexels.com/photos/2228889/pexels-photo-2228889.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');">
      <h1 class="mt-5" style="text-align: center; color:yellow;" >Thought Of Day :-</h1>
      <h1 class="mt-0" style="text-align: center; color:#EB3EE3;">With the new day come new thoughts and new strengths.” – Eleanor Roosevelt</h1>
    </div>
  </div>