<h3 class="display-8"
  style="text-align: center; border-color: white; border-style: 
  double; background-color: #0d6efd; color: white;margin-top: 0px; margin-left: 10px; margin-right: 10px;">
  All Users</h3>
<ol Style ="padding-left: 100px; padding-right: 100px; padding-top: 5px;"
 class="list-group list-group-numbered">
  <li *ngFor="let u of employee, index as i" class="list-group-item d-flex justify-content-between
   align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">
        <a class="text-warning stretched-link">Employee ID-{{u.empid}} 
        </a>
        <br>
        <a class="text-warning stretched-link">
            Employee Name -{{u.firstname}} {{u.lastname}}
        </a>
        </div>
        <div class="row g-2" style="color: crimson; margin-top: 4px;"> Salary Earned -> {{u.salary}}
        </div>
    </div>
  </li>
</ol>