<section class="">
    <div style="margin-left: 10px; margin-right: 10px; margin-top: 5px;" >
    <footer class="text-center text-white" style="background-color: #0a4275; ">
      <div class="container p-2 pb-0">
        <section class="">
          <a class="navbar-brand" style="color:white; margin-right: 5px;" 
          href="aboutlibrary"><b>ABOUT US</b></a>
            <button type="button" class="btn btn-outline-light btn-rounded">
                Contact US
              </button>
        </section>
      </div>
      <div  class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright: Employee Management 
      </div>
    
    </footer>
</div>
  </section>