<div class="container" style="background-image: 
url('https://as1.ftcdn.net/v2/jpg/05/06/79/02/1000_F_506790264_N8BVZ9NLLRrTAShK6PADQmo0SZ4LUuJJ.jpg');
background-size: 100%;" >
    <div style="margin-left: 45%; margin-right: 30%;" >
    <h2 style="color: rgb(219, 19, 19);"> Sign Up </h2></div>
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">

        <div class="form-group" style="margin-left: 30%; margin-right: 30%;">
            <div class="input-group input-group-sm mb-0">
                <span class="input-group-text" id="inputGroup-sizing-sm"><b>First Name</b></span>
                <input  required #firstname="ngModel" minlength="3" maxlength="20" [(ngModel)]="user.firstname" name="firstname"
                    type="text" ngModel class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm" placeholder="Enter a first name">
                    <span Style="margin-left:20px;" *ngIf="firstname.invalid && firstname.touched" id="inputGroup-sizing-sm" class="error" style="color: Red;">*firstname is not valid</span>
                    </div>
        </div>
        <br>
        <div class="form-group" style="margin-left: 30%; margin-right: 30%;" >
            <div class="input-group input-group-sm mb-0">
                <span class="input-group-text" id="inputGroup-sizing-sm"><b>Last Name</b></span>
                <input required #lastname="ngModel" minlength="3" maxlength="20" [(ngModel)]="user.lastname" name="lastname"
                    type="text" ngModel class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm" placeholder="Enter a last name">
                    <span Style="margin-left:20px;" *ngIf="lastname.invalid && lastname.touched" id="inputGroup-sizing-sm" class="error" style="color: Red;">*lastname is not valid</span>
                    </div>
        </div>
        <br>

        <div class="form-group" style="margin-left: 30%; margin-right: 30%;" >
            <div class="input-group input-group-sm mb-0">
                <span class="input-group-text" id="inputGroup-sizing-sm"><b>User Name</b></span>
                <input required [(ngModel)]="user.username" #username="ngModel" minlength="3" maxlength="20" name="username"
                    type="text" ngModel class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm" placeholder="Enter a user name">
                    <span Style="margin-left:20px;" *ngIf="username.invalid && username.touched" id="inputGroup-sizing-sm" class="error" style="color: Red;">*username is not valid</span>   
                </div>
        </div>
        <br>

        <div class="form-group" style="margin-left: 30%; margin-right: 30%;" >
            <div class="input-group input-group-sm mb-0">
                <span class="input-group-text" id="inputGroup-sizing-sm"><b>Email Id</b></span>
                <input required #email="ngModel" minlength="3" maxlength="20" [(ngModel)]="user.email" name="email"
                    type="text" email ngModel class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm" placeholder="Enter a email id">
                    <span Style="margin-left:20px;" *ngIf="email.invalid && email.touched" id="inputGroup-sizing-sm" class="error" style="color: Red;">*email id is not valid</span>
                    </div>
        </div>
        <br>

        <div class="form-group" style="margin-left: 30%; margin-right: 30%;" >
            <div class="input-group input-group-sm mb-0">
                <span class="input-group-text" id="inputGroup-sizing-sm"><b>password</b></span>
                <input required [(ngModel)]="user.password" pattern="[A-Za-z0-9\d$@ ]*"  #password="ngModel" minlength="3" maxlength="20" name="password"
                    type="password" ngModel class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm" placeholder="Enter a password">
                    <span Style="margin-left:20px;" *ngIf="password.invalid && password.touched" id="inputGroup-sizing-sm" class="error" style="color: Red;">*password is not valid</span>   
                </div>
        </div>

<br>
        <div style="margin-left: 30%; margin-right: 30%;" (click)="submit()"  class="d-grid gap-0 d-md-flex justify-content-md-end">
        <button [disabled]="userForm.invalid" class="btn btn-primary" type="button"><b>Sign Up</b></button>
    </div>

    </form>
</div> 